#!/bin/sh
#PBS -N nimrod-hpc-{{ batch_uuid }}
#PBS -l walltime={{ job_walltime }}
#PBS -l select=1:ncpus={{ job_ncpus * batch_size }}:mem={{ job_mem }}b
#PBS -o {{ output_path|quote }}
#PBS -e {{ error_path|quote }}
{% if job_account is defined %}#PBS -A {{ job_account|quote }}{% endif %}
{% if job_queue is defined or job_server is defined %}#PBS -q {{ job_queue|quote }}{% if job_server is defined %}@{{ job_server|quote }}{% endif %}{% endif %}

##
# Nimrod/G Batch Submission Script
# UUID: {{ batch_uuid }}, {{ batch_size }} agents
##

PIDS=""

{%- for i in range(batch_size) %}
##
# Agent {{ i }}, UUID: {{ agent_uuids[i] }}
##
{{ agent_binary|quote }} \
	--uuid {{ agent_uuids[i]|quote }} \
	--amqp-uri {{ agent_args.amqp_uri|quote }} \
	--amqp-routing-key {{ agent_args.amqp_routing_key|quote }} \
	{% if agent_args.amqp_no_verify_peer|default(false) -%}
	--no-verify-peer \
	{% endif -%}
	{% if agent_args.amqp_no_verify_host|default(false) -%}
	--no-verify-host \
	{% endif -%}
	{% if agent_args.cacert is defined -%}
	--cacert {{ agent_args.cacert|quote }} \
	{% endif -%}
	{% if agent_args.caenc is defined -%}
	--caenc {{ agent_args.caenc|quote }} \
	{% endif -%}
	{%- if agent_args.no_ca_delete|default(false) -%}
	--no-ca-delete \
	{% endif -%}
	--work-root ${TMPDIR} \
	--output workroot &
PIDS="$PIDS $!"
{% endfor %}

trap 'kill -15 $PIDS; wait' INT HUP QUIT TERM

wait
