#!/bin/sh
#SBATCH --job-name nimrod-hpc-{{ batch_uuid }}
#SBATCH --time={{ (batch_walltime / 60)|round(0, 'ceil') }}
#SBATCH --ntasks={{ batch_size }}
#SBATCH --cpus-per-task={{ job_ncpus }}
#SBATCH --mem-per-cpu={{ (job_mem / job_ncpus / 1024)|round(0, 'ceil') }}K
#SBATCH --output {{ output_path|quote }}
#SBATCH --error {{ error_path|quote }}
{% if job_account is defined %}#SBATCH --account {{ job_account|quote }}{% endif %}

##
# Nimrod/G Batch Submission Script
# UUID: {{ batch_uuid }}, {{ batch_size }} agents
##

PIDS=""

{%- for i in range(batch_size) %}
##
# Agent {{ i }}, UUID: {{ agent_uuids[i] }}
##
{{ agent_binary|quote }} \
	--uuid {{ agent_uuids[i]|quote }} \
	--work-root ${TMPDIR} \
	--config {{ config_path|quote }} &
PIDS="$PIDS $!"
{% endfor %}

trap 'kill -15 $PIDS; wait' INT HUP QUIT TERM

wait
