#!/bin/sh
#BSUB -J nimrod-hpc-{{ batch_uuid }}
#BSUB -W {{ (batch_walltime / 60)|round(0, 'ceil') }}
#BSUB -n {{ job_ncpus * batch_size }}
#BSUB -M {{ (job_mem * batch_size / 1024)|round(0, 'ceil') }}KB
#BSUB -o {{ output_path|quote }}
#BSUB -e {{ error_path|quote }}

##
# Nimrod/G Batch Submission Script
# UUID: {{ batch_uuid }}, {{ batch_size }} agents
##

PIDS=""

{%- for i in range(batch_size) %}
##
# Agent {{ i }}, UUID: {{ agent_uuids[i] }}
##
{{ agent_binary|quote }} \
	--config {{ config_path[i]|quote }} \
	--work-root ${TMPDIR} &
PIDS="$PIDS $!"
{% endfor %}

trap 'kill -15 $PIDS; wait' INT HUP QUIT TERM USR USR2

wait
