Source: nimrod-portal-backend
Section: java
Priority: optional
Maintainer: Research Computing Centre <rcc-admin@uq.edu.au>
Build-Depends: debhelper (>= 11)
Vcs-Git: https://github.com/UQ-RCC/nimrod-portal-backend.git
Vcs-Browser: https://github.com/UQ-RCC/nimrod-portal-backend

Package: nimrod-portal-backend
Architecture: all
Depends: default-jre-headless (>= 1.11), adduser
Description: Nimrod Portal Backend Server
 Handles Nimrod-specific functionality
Homepage: https://rcc.uq.edu.au/nimrod
